$transition: 0.3s ease;

body { font-family: "Libre Baskerville", "Times New Roman", serif }

html, body {
    transition: font-size $transition, padding $transition, width $transition, max-width $transition;
}

a, a:visited { color: black }

::selection {
    color: white;
    background-color: black;
}

.body-container {
    font-size: 20px;
    padding: 3rem 5rem;
    img {
        max-width: 75%;
        align-self: flex-start;
    
    }
}

.photos p {
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: rgb(78, 78, 78);
    img { margin: 100px 0 25px }
}

@media (max-width: 620px) {
    html { font-size: 5px }
    .body-container {
        padding: 20px 10px;
        img { max-width: 95% }
    }
}












// POINTER
/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/

#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid black;
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid black;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
}

html {
    cursor: none !important;
}

a {
    cursor: none !important;
}
