$transition: 0.3s ease;

body { font-family: "Libre Baskerville", "Times New Roman", serif }

html, body {
    transition: font-size $transition, padding $transition, width $transition, max-width $transition;
}

a, a:visited { color: black }

::selection {
    color: white;
    background-color: black;
}

.body-container {
    font-size: 20px;
    padding: 3rem 5rem;
    img {
        max-width: 75%;
        align-self: flex-start;
        max-height: 90vh;
    }
}

.photos p {
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: rgb(78, 78, 78);
    img { margin: 100px 0 25px }
}

@media (max-width: 1000px) {
    html { font-size: 5px }
    .body-container {
        padding: 20px 10px;
        img { max-width: 95% }
    }
}
